version: "3.9"

name: scorm-extraction-queue-consumer 
services:

  # activemq:
  #   image: rmohr/activemq
  #   container_name: activemq
  #   ports:
  #     - "61613:61613"
  #     - "8161:8161"

  scorm-extraction-redis:
    image: redis:7
    expose:
      - "6379"

  scorm-extraction-consumer:
    build:
      context: ..
      dockerfile: docker/consumer.Dockerfile
    environment:
      ACTIVEMQ_HOST: ${ACTIVEMQ_HOST}
      ACTIVEMQ_PORT: ${ACTIVEMQ_PORT}
      ACTIVEMQ_USER: ${ACTIVEMQ_USER}
      ACTIVEMQ_PASSWORD: ${ACTIVEMQ_PASSWORD}
      ACTIVEMQ_QUEUE: ${ACTIVEMQ_QUEUE}
      ACTIVEMQ_PREFETCH: ${ACTIVEMQ_PREFETCH}
      ACTIVEMQ_HEARTBEAT_OUT: ${ACTIVEMQ_HEARTBEAT_OUT}
      ACTIVEMQ_HEARTBEAT_IN: ${ACTIVEMQ_HEARTBEAT_IN}

      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}

      CELERY_BROKER_URL: ${CELERY_BROKER_URL}
      CELERY_RESULT_BACKEND: ${CELERY_RESULT_BACKEND}

      WORKER_TIMEOUT: ${WORKER_TIMEOUT}

      
      ALFRESCO_BASE_URL: ${ALFRESCO_BASE_URL}
      ALFRESCO_USERNAME: ${ALFRESCO_USERNAME}
      ALFRESCO_PASSWORD: ${ALFRESCO_PASSWORD}

      LOG_LEVEL: ${LOG_LEVEL}

    depends_on:
      # - activemq
      - scorm-extraction-redis
    restart: unless-stopped

  scorm-extraction-worker:
    build:
      context: ..
      dockerfile: docker/worker.Dockerfile
    environment:
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}

      CELERY_BROKER_URL: ${CELERY_BROKER_URL}
      CELERY_RESULT_BACKEND: ${CELERY_RESULT_BACKEND}
      
      ALFRESCO_BASE_URL: ${ALFRESCO_BASE_URL}
      ALFRESCO_USERNAME: ${ALFRESCO_USERNAME}
      ALFRESCO_PASSWORD: ${ALFRESCO_PASSWORD}
      
      LOG_LEVEL: ${LOG_LEVEL}

    depends_on:
      - scorm-extraction-redis
    restart: unless-stopped
    deploy:
      replicas: 1
